.main-image{
    background-image: url('./images\WhatsApp_Image_2024-02-27_at_9.04.01_AM-removebg-preview (1).png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}