*{
    background-color: pink;
}
  
  
  #Animation{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 10%;
    
  }
  .animi{
    font-size: 100px;
    background-color: violet;
    position: relative;
    animation: anim 5s  ;
  }
  @keyframes anim {
    10%{
        transform: rotate(360deg);

    }
    
  }
  
